@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

:root {
    --Fonte01: 'Roboto';
    --Fonte02: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: var(--Fonte02);

}

header {
    padding: 40px;
    display: flex;
}

header h1 {
    color: #D2872C;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--Fonte01);
    font-weight: 400;
}

nav a {
    color: black;
    font-size: 1.1em;
}

.navl {
    list-style: none;
    display: flex;
    margin-left: 400px;
}

.navl li {
    letter-spacing: 3px;
    margin-left: 30px;
}

#conteudo {
    padding-left: 80px;
    background-image: url(team1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 615px 350px;
    background-position-y: 20px;
}

#conteudo h2{
    font-family: var(--Fonte01);
    font-weight: 700;
    color: #766F68;
    font-size: 3.5em;
}

#conteudo p {
    font-family: var(--Fonte01);
    font-weight: 400;
    color: #766F68;
    margin-top: 30px;
    font-size: 22px;
}

#botao {
    display: inline-block;
    margin-bottom: 40px;
}

#botao p{
    background-color: #D2872C;
    width: 210px;
    padding: 15px 20px 15px 20px;
    border-radius: 15px;
    text-align: center;
    color: white;  
    font-weight: bold;
}

#botao > a {
    text-decoration: none;
}